* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-size: medium;
}

body {
    background-color: rgb(104, 14, 14);
}

button {
    border: .2em solid;
    outline: none;
    cursor: pointer;
    background-color: #fcf013;
    color: #151d2f;
    border-radius: 0.75em;
    border-color: black;
    font-weight: 500;
}

.search_container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1em;
    width: 100%;
    max-width: 50em;
    margin: 1em auto;
    padding: 0.5em;
}

.search_container input {
    border: .2em solid black;
    padding: 2%;
    border-radius: 0.5em;
    font-weight: 500;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container {
    background-color: rgb(65, 65, 65);
    display: flex;
    padding: 1em;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.5em;
    border-radius: 0.5em;
    border: 0.1em solid black;
}

.container img {
    width: 100%;
}

.container button {
    margin-top: 1em;
    padding: 1em 0;
}

.loader {
    display: none;
    height: 16em;
    width: 16em;
    border: 2em solid;
    border-radius: 50%;
    border-top-color: #fcf013;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    animation: spin 3s infinite;
}

@keyframes spin {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        margin: 0.7em;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}